@using System.Security.Claims
@model List<DAL.models.Salle>

<h1 class="mt-4 mb-4"  style="text-align: center;">Bienvenue @User.Identity.Name</h1>

@foreach(var salle in Model)
{
<div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">

        <div class="card bg-dark" style="width:30%;">
            <div class="card-body text-center">
                <div class="card-header bg-light">
                    <h3 class="card-title text-dark mb-2">Salle N°@salle.id</h3>
            </div>
            <div class="card-body">
                <p>Nom de la salle : @salle.nom</p>
                    <p>Capacité de la salle : @salle.capacite</p>
                    <p>Largeur de la salle : @salle.largeur mètres</p>
                    <a class="btn btn-primary" asp-controller="Client" asp-action="Reserver" asp-route-id="@salle.id" >Résérver</a>
            </div>
        </div>
        </div>
    </div>
}